*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    background: rgb(49,46,129);
    background: linear-gradient(121deg, rgba(49,46,129,1) 0%, rgba(15,23,42,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}



section{
    min-height: 100vh;
}

#projects{
    overflow-y: hidden;
}

.projects-section{
    overflow-y: auto;
}


.projects-container{ /*There is a Media Query to make only 1 Column for small Screens*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 70px;
}

.lastProject {
    grid-column: 1 / 4;
    grid-row: auto; /* Add this line to ensure the element takes up the appropriate rows */
}


@media (max-width: 1200px){
    .projects-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px){
    .projects-container{
        grid-template-columns: 1fr;
    }
}


.downArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: bouncyArrow 0.5s infinite alternate;
}

.downArrow:hover{
    animation: bouncyArrowHover 0.3s infinite alternate;
}

@keyframes bouncyArrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}

@keyframes bouncyArrowHover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.linkAnimation:hover img{
    animation: rotateLink 0.5s 1 alternate;
}

@keyframes rotateLink {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg) scale(1.2);
    }
}


.active-section-underline {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Fade in */
  .active-section-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #16a34a;
    opacity: 1;
    animation: slideIn 0.5s ease-in-out forwards;
    animation-iteration-count: 1;
  }

  /* Slide in */
  @keyframes slideIn {
    from {
      transform: translate3d(-100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }